<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <connectionStrings>
    <add name="connstring" connectionString="Data Source=AA\AYMANSQL;Initial Catalog=happytechDB;Integrated Security=True">
    </add>
  </connectionStrings>

</configuration>